@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Saint Anthony School<br />
    4807 S 2nd St, Milwaukee, WI 53207<br />
    <abbr title="Phone">:</abbr>
    (414) 763-6352
</address>

